node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next
out
build
.DS_Store
.git
.gitignore
.vscode
.idea
*.log
*.tsbuildinfo
.env*
google-credentials.json
*/images/
*/pdfs/
*/files/
/public/projects/
/public/elibrary/
/public/homepage_hero/
/public/team/
/public/services/
/public/alumni/
/public/hero/
